.App {
  /* text-align: center; */
}
.postTile:hover {
  background-color: #353e4b !important;
}

.subMenuItem:not(:hover) .deleteSubLabel{
    visibility: hidden !important;
}

.subMenuItem:hover .deleteSubLabel{
  visibility: visible !important;
}
